mixin glyphicon(g)
  span.glyphicon(class="glyphicon-#{g}")

mixin col-label(txt)
  div.col-sm-3
    label= txt

mixin datum(txt)
  div.row
    if txt
      +col-label(txt)
    div.col-sm-9
      if block
        block

mixin multidatum(label, field, format)
  +datum(label)
    ul
      li(ng-repeat="obj in #{field}")
        if block
          block
        else
          {{ obj.value }}
        span.badge {{ obj.label }}

mixin address_gmaps(src)
  a(href="http://maps.google.com/?q={{ #{src}.street }},%20{{ #{src}.city }},%20{{ #{src}.state }}%20{{ #{src}.zip}}", target='_blank')
    if block
      block

mixin address
  +address_gmaps("obj")
    span {{ obj.street }}
    br
    span {{ obj.city }}, {{ obj.state}} {{ obj.zip }}

mixin editdeletebuttons(base_url)
  div.editdeletebuttons.btn-group.btn-group-sm
    a.btn.btn-primary(type='button', ng-href='#{base_url}/edit')
      +glyphicon("edit")
      span.label edit
    a.btn.btn-primary(type='button', ng-href='#{base_url}/delete')
      +glyphicon("remove")
      span.label delete