mixin valform(name, fields)
  form.form-horizontal(name="#{name}", ng-submit="save(#{name})", role="form")
    each field in fields
      if field instanceof Array
        +multipleinput(name, field[0])
      else if field.type === 'scope_select'
        +scope_select(field)
      else if field.type === 'select'
        p Select
      else
        +textfield(name, field)
    button.btn.btn-default(type='submit') Submit

mixin scope_select(field)
  div.form-group
    label.control-label(for="#{field.name}") #{field.label}
    div.controls
      - var requiredf = (required ? required='required' : required='false')
      select(ng-required=requiredf,
        ng-model="newObj.#{field.name}",
        name="#{field.name}",
        ng-options="#{field.scope_iterator}")

mixin input(required, type, name, label, model)
  if type === 'location'
    +location(required, type, name, label, name)
  else
    div.controls
      - var requiredf = (required ? required='required' : required='false')
      input.form-control(ng-required=requiredf,
            type='#{type}',
            ng-model='#{model}',
            name='#{name}',
            placeholder="#{label}")

mixin locationfield(required, model, name, fieldname, label)
  div.controls
    - var requiredf = (required ? required='required' : required='false')
    input.form-control(ng-required=requiredf,
          type='text',
          ng-model='#{model}.#{fieldname}',
          name='#{name}.#{fieldname}',
          placeholder="#{label}")

mixin location(required, type, name, label, model)
  +locationfield(true, model, name, 'street', "Street")
  +locationfield(true, model, name, 'city', "City")
  +locationfield(false, model, name, 'state', "State")
  +locationfield(false, model, name, 'zip', "ZIP")

mixin textfield(form, field)
  div.form-group
    label.control-label(for="#{field.name}") #{field.label}
    +input(field.required, field.type, field.name, field.label, 'newObj.'+field.name)

mixin multipleinput(form, field)
  div.form-group
    button.btn.btn-default(type='button', ng-click="newObj.#{field.name}.push({})")
      | Add #{field.label}
  div.form-group(ng-repeat="#{field.name} in newObj.#{field.name}")
    label.control-label(for="#{field.name}_{{$index+1}}") #{field.label}
    div.input-group
      +input(field.required, field.type, field.name, field.label, field.name+'.value')
      span.input-group-btn
        button.btn.btn-default(type='button',
                               ng-click="newObj.#{field.name}.push({})")
          +glyphicon("plus")
    div.input-group
      +input(field.required, 'text', field.name, "Label", field.name+'.label')
      span.input-group-btn
        button.btn.btn-default(type='button',
                               ng-click="newObj.#{field.name}.splice($index, 1)")
          +glyphicon("remove")