mixin valform(name, fields)
  form.form-horizontal(name="#{name}", ng-submit="save(#{name})", role="form")
    each field in fields
      +build_field(name, field)
    div.row
      div.col-sm-6
        button.btn.btn-primary(type='submit') Submit

mixin build_field(name, field)
  if field instanceof Array
    +multipleinput(name, field[0])
  else if field.type === 'scope_select'
    +scope_select_labeled(field.required, 'newObj.'+field.name, field.name, field.label, field.scope_iterator)
  else
    +textfield(name, field)

mixin scope_select_labeled(required, model, name, label, scope_iterator)
  div.row.form-group
    div.col-sm-3
      label.control-label(for="#{name}") #{label}
    div.controls.col-sm-9
      +scope_select(required, model, name, label, scope_iterator)

mixin scope_select(required, model, name, label, scope_iterator)
  - var requiredf = (required ? required='required' : required='false')
  select.form-control(ng-required=requiredf,
    ng-model="#{model}",
    name="#{name}",
    ng-options="#{scope_iterator}", bs-select)

mixin input(required, type, name, label, model)
  if type === 'location'
    +location(required, type, name, label, name)
  else if type === 'date'
    - var requiredf = (required ? required='required' : required='false')
    input.form-control(ng-required=requiredf,
          type='#{type}',
          ng-model='#{model}',
          name='#{name}',
          placeholder="#{label}",
          data-date-format="MM/dd/yyyy",
          data-max-date="today",
          bs-datepicker)
  else
    div.controls
      - var requiredf = (required ? required='required' : required='false')
      input.form-control(ng-required=requiredf,
            type='#{type}',
            ng-model='#{model}',
            name='#{name}',
            placeholder="#{label}")

mixin select(name, model, choices)
  select.form-control(name='#{name}',
                      ng-model='#{model}')
    each choice in choices
      option(value="#{choice}") #{choice}

mixin locationfield(required, model, name, fieldname, label)
  div.controls.locationfield
    - var requiredf = (required ? required='required' : required='false')
    input.form-control(ng-required=requiredf,
          type='text',
          ng-model='#{model}.#{fieldname}',
          name='#{name}.#{fieldname}',
          placeholder="#{label}")

mixin location(required, type, name, label, model)
  +locationfield(true, model, name, 'street', "Street")
  +locationfield(true, model, name, 'city', "City")
  +locationfield(false, model, name, 'state', "State")
  +locationfield(false, model, name, 'zip', "ZIP")

mixin textfield(form, field)
  div.row.form-group
    div.col-sm-3
      label.control-label(for="#{field.name}") #{field.label}
    div.col-sm-9
      +input(field.required, field.type, field.name, field.label, 'newObj.'+field.name)

mixin multipleinput(form, field)
  div.row.form-group.multiple
    div.col-sm-6
      label.control-label(for="#{field.name}_{{$index+1}}") #{field.label}
  div.row
    div.col-sm-6
      button.btn.btn-default(type='button',
                             ng-click="newObj.#{field.name}.push({})",
                             ng-show="!newObj.#{field.name} || newObj.#{field.name}.length == 0")
        | Add #{field.label}
  div.row.form-group(ng-repeat="#{field.name} in newObj.#{field.name}")
    if field.type === 'relationship'
      div.col-sm-3
        +scope_select(field.required, field.name+'.person_a', field.name+'.person_a', field.label, field.scope_iterator)
      div.col-sm-3
        +select(field.name+'_label', field.name+'.type', field.choices)
      div.col-sm-3
        +scope_select(field.required, field.name+'.person_b', field.name+'.person_b', field.label, field.scope_iterator)
    else
      div.col-sm-5
        +input(field.required, field.type, field.name, field.label, field.name+'.value')
      if field.choices
        div.col-sm-4
          +select(field.name+'_label', field.name+'.label', field.choices)
    div.col-sm-3
      button.btn.btn-default(type='button',
                             ng-click="newObj.#{field.name}.push({})")
        +glyphicon("plus")
      button.btn.btn-default(type='button',
                             ng-click="newObj.#{field.name}.splice($index, 1)")
        +glyphicon("remove")
